[Unit]
Description=OpenOCD sysfs GPIO setup
Requires=systemd-udevd.service
After=systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'for n in 30 31 50 51 48 60; do echo $n > /sys/class/gpio/export; done'
ExecStop=/bin/sh -c 'for n in 30 31 50 51 48 60; do echo $n > /sys/class/gpio/unexport; done'

[Install]
WantedBy=multi-user.target
